lndcreditwatch/bin/Debug/*
lndcreditwatch/bin/Release/*
!lndcreditwatch/bin/Release/lndapi.dll
!lndcreditwatch/bin/Release/lndcreditwatch.exe
!lndcreditwatch/bin/Release/RMLib.dll

.vs/*
lndcreditwatch/obj/*
packages/*

*.pfx
*.suo
*.user